import random

lower_list = 'abcdefghijklmnopqrstuvwxyz'
upper_list = 'ABCDEFGHIJKLMNOPQRSUVWXYZ'
numbers = '0123456789'
symbols = '!@#$%^&*'

Use_for = lower_list + upper_list + numbers + symbols
length_of_pass = 10 or 8
password = ''.join(random.sample(Use_for,length_of_pass))
print("Your password: "+password)

input() 
